@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <section id="gameSection" class="jumbotron text-center"  >


        <div class="container">
            <p id="question" class="jumbotron-heading" style="font-size:36px; margin-bottom:100px; ">Question 1</p>
        </div>

        <p>
            <img id="option1" class="btn" style="width:350px; height:400px;" src="https://cdn4.buysellads.net/uu/1/41629/1547651742-slack-carbon-red_2x.png" />
            <img id="option2" class="btn" style="width:350px; height:400px;" src="https://cdn4.buysellads.net/uu/1/41629/1547651742-slack-carbon-red_2x.png" />
        </p>


    </section>


<button id="playAgain">Play again</button>



