@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <section class="jumbotron text-center">


        <div class="container">
            <h1 id="question" class="jumbotron-heading">Question 1</h1>
        </div>

        <p>
            <img id="option1" class="btn" src="https://cdn4.buysellads.net/uu/1/41629/1547651742-slack-carbon-red_2x.png" />
            <img id="option2" class="btn" src="https://cdn4.buysellads.net/uu/1/41629/1547651742-slack-carbon-red_2x.png" />
        </p>

    </section>
<button id="playAgain">Play again</button>



