@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <section class="jumbotron text-center">


        <div class="container">
            <h1 id="question" class="jumbotron-heading">Question 1</h1>
        </div>

        <p>
            <button id="option1" class="btn btn-primary my-2">option 1</button>
            <button id="option2" class="btn btn-primary my-2">option 2</button>
        </p>

    </section>



